#bar {
    height: 80px;
    background-color: #0CC0DF;
    color: white;
    font-size: 40px;
    border-radius: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding-top: 30px;
}

#card {

    background-color: #0CC0DF;
    width: 600px;
    height: 550px;
    margin: auto;
    margin-top: 150px;
    padding: 0px;
    padding-top: 60px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 26px;
    color: white;
    /*   font-weight:; */
    border-radius: 25px
}

#text_box {

    height: 40px;
    width: 300px;
    border-radius: 4px;
    border: solid 1px white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 25px;
    text-align: center;
    background-color: white;
    

}

#submit_box {

    height: 40px;
    width: 300px;
    border-radius: 4px;
    border: solid 1px gray;
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
    color: #0CC0DF;
    /*   font-weight:;  */
    border-radius: 25px
}


