@import
url("https://fonts.googleapis.com/css?family=Mystery+Quest");

@font-face {
    font-family: "inconsolata";
    src: url("/inconsolata.woff");
}

p {
    font-family: "inconsolata", cursive;
    font-size: 190%;
    color: white;
    background-color: orangered;
    padding: 20px 20px;
}

body {
    background-color: black;

}

h1 {
    font-family: "Oswald";
    font-size: 140%;

}

h1 {
    font-family: "Mystery Quest", cursive;
    font-size: 190%;
    color: white;
    background-color: orangered;
    padding: 20px 20px;
}


