tr:first-child {
    background-color: brown;
    text-transform: uppercase;
}



table {
    align-items: center;
    padding: 100px 100px;
    color: black;
    height: 100px;
    width: 1000px;
    font-size: 20px;
}


thead>tr, tfoot>tr {
    background-color: brown;
    color: white;
    text-transform: uppercase;
}
 td:last-child {
    font-weight: bolder;
 }

 tbody>tr:nth-child(odd) {
    background-color: #blue;
    color: white;
 }